{% extends 'base.html' %}
{% load static%}
{% block content %}

<style>
    .top-buffer { margin-top:20px; }
</style>
{% load static %}
<script type="text/javascript" src="{% static 'js/field_validations.js' %}" type="javascript"></script>
<script>
    var good = {
        'name': 0,
        'email': 0,
        'password': 0,
        'confirm': 0
    }

    {% if emailLink %}
        good.name = 1;
        good.email = 1;
    {% endif %}

    function validate(what){
        if(what == 'sendlink'){
            if (!good.name) {
                $("#name_check").html("Pls enter valid account name");
                $("#name_check").fadeIn("slow", function(){
                    $("#name_check").fadeOut(4000, function(){$("#name_check").html("");});
                });

            }
            if (!good.email){
                $("#email_check").html("Pl enter valid email");
                $("#email_check").fadeIn("slow", function(){
                    $("#email_check").fadeOut(4000, function(){$("#email_check").html("");});
                });
            }

            if (good.email && good.name)
                document.getElementById('form_reset').submit();

            return false;
        }
        if(what == 'reset'){
            if (good.password && good.confirm)
                document.getElementById('form_reset').submit();
            else{
                $("#confirm_check").html("Min 6 char pls and matching password");
                $("#confirm_check").fadeIn("slow", function(){
                    $("#confirm_check").fadeOut("slow", function(){$("#confirm_check").html("");});
                });
                return false;
            }

        }
    }

    $(document).ready(function(){
        {% if user_get  %}
            check_account_name_ajax(document.getElementsByName('account_name')[0],$('#name_check'),'No Account Found',1);
        {% endif %}
    });

</script>
<div class="row">
    <div class="col">
    </div>
    <div class="col main_content">
        <form method="post" action="" id="form_reset">
            {% csrf_token %}
            {% if error %}
               <div class="row top-buffer">
                    <div class="col" style="color:red; opacity: 50%; font-size:small">
                       {{error}}
                    </div>
                </div>
            {% endif %}
            {% if success %}
               <div class="row top-buffer">
                    <div class="col" style="color:red; opacity: 50%; font-size:small">
                       {{success}}
                    </div>
                </div>
            {% endif %}
            {% if emaillink %}
                <div class="row top-buffer">
                    <div class="col">New Password</div>
                    <div class="col"> <input type="password" name="password" onblur="check_password(this)"></div>
                    <div id="password_check" style="display:none; color:red; font-size:small"></div>
                </div>
                <div class="row top-buffer">
                    <div class="col">Confirm Password</div>
                    <div class="col"> <input type="password" name="password_confirm" onblur="check_confirm(this)"> </div>
                    <div id="confirm_check" style="display:none; color:red; font-size:small"></div>
                </div>
                <div class="row top-buffer">
                    <div class="col">
                        <input type="hidden" name="action" value="reset">
                        <input type="hidden" name="account_name" value="{{emaillink.0.account_name}}">
                        <input type="hidden" name="email" value="{{emaillink.0.email}}">
                        <button type="button" onclick="validate('reset')">Update Password</button>
                    </div>
                </div>
            {% else %}
                <div class="row top-buffer">
                    <div class="col"> Account Name </div>
                    <div class="col">
                        <input type="text" onblur="check_account_name(this,1,1)" name="account_name" {% if user_get  %}value="{{user_get}}"{% endif %}>
                        <div id="name_check" style="display:none; color:red; font-size:small"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col">Email</div>
                    <div class="col">
                        <input type="text" onblur="check_email(this)" name="email" {% if email  %}value="{{email}}"{% endif %}>
                        <div id="email_check" style="display:none; color:red; font-size:small"></div>
                    </div>
                </div>
                <div class="row top-buffer">
                    <div class="col">
                        <input type="hidden" name="action" value="link">
                        <button type="button" onclick="validate('sendlink')">Send Reset Link</button>
                    </div>
                </div>
            {% endif %}

        </form>
    </div>
    <div class="col">
    </div>
</div>




{% endblock %}