{% extends 'base.html' %}
{% load static%}
{% block content %}
{% include 'ff_base.html' %}
<div class="main_content justify-content-center">

    <div class="row justify-content-center">
            <div style="min-height:100px; margin-top:30px"><h2>{% if not name %} Create {% endif %} Structure {% if name %} For {{name.0}} {% endif %}</h2></div>
    </div>
    <div class="row justify-content-center">
        <div class="col table-responsive">
        {% if name %}
            <div>
                <form name="addrow" action="./add-row/" id="addrow" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="name" value="{{name.0}}">
                    <input type="hidden" id="keys" name="keys" value="">
                    <input name="col_name" id="col_name_suggestion" placeholder="Column Name" onkeyup="col_suggestions()">
                    <button type="button" class="greenbuttons" onclick="addRows()">Add Row</button>
                </form>
            </div>
            <div>
                <form>
                <table id="rfstable" class="display" >
                    <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Order</th>
                        <th>Column</th>
                        <th>Data Type</th>
                        <th>Max Len</th>
                        <th>Key</th>
                        <th>Required</th>
                        <th>Is Fixed Len</th>
                        <th>Min Value</th>
                        <th>Max Value</th>
                        <th>Decimals</th>
                        <th>Format <span><a href="/formats/" target="_blank" style="font-size:xx-small">Help</a></span></th>
                        <th>All Blanks</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in structure.structure_details %}
                            <tr>
                                <td>
                                    <form name="ffform_{{row.record_id}}" method="get" action="add-edit?field={{row.record_id}}">
                                        {% csrf_token %}
                                        <button class="greenbuttons" type="submit">Edit</button>
                                    </form>
                                </td>
                                <td>{{row.record_id}}</td>
                                <td id="order">
                                    <span id="order_val" class="row_val">{{row.order|default_if_none:""}}</span>
                                    <span id="order_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_order" size="2" value="{{row.order|default_if_none:''}}">
                                    </span>
                                </td>
                                <td id="col_name">
                                    <span id="col_name_val"  class="row_val">{{row.col_name|default_if_none:""}}</span>
                                    <span id="col_name_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_col_name" size="10" value="{{row.col_name|default_if_none:''}}">
                                    </span>
                                </td>
                                <td id="col_data_type">
                                    <span id="col_data_type_val" class="row_val">{{row.col_data_type|default_if_none:""}}</span>
                                    <span id="col_data_type_edit" class="row_edit">
                                        <select onblur="editor_out(this);" onchange="editor(this);" name="field_col_data_type">
                                            <option value=""></option>
                                            <option value="INT" {% if row.col_data_type == 'INT' %} selected {% endif %}>INT</option>
                                            <option value="STRING" {% if row.col_data_type == 'STRING' %} selected {% endif %}>STRING</option>
                                            <option value="DECIMAL" {% if row.col_data_type == 'DECIMAL' %} selected {% endif %}>DECIMAL</option>
                                            <option value="DATE" {% if row.col_data_type == 'DATE' %} selected {% endif %}>DATE</option>
                                        </select>
                                    </span>
                                </td>
                                <td id="max_len">
                                    <span id="max_len_val" class="row_val">{{row.max_len|default_if_none:""}}</span>
                                    <span id="max_len_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_max_len" size="5" value="{{row.max_len|default_if_none:''}}">
                                    </span>
                                </td>
                                <td id="is_pk">
                                    <span id="is_pk_val" class="row_val">{% if row.is_pk == 0 or not row.is_pk %}
                                    No
                                    {% else %}
                                    Yes
                                    {% endif %}</span>
                                    <span id="is_pk_edit" class="row_edit">
                                        <select name="field_is_pk" onblur="editor_out(this);" onchange="editor(this,1);">
                                            <option value="1" {% if row.is_pk == 1 %} selected {% endif %}>Yes</option>
                                            <option value="0" {% if row.is_pk == 0 or not row.is_pk %} selected {% endif %}>No</option>
                                        </select>
                                    </span>
                                </td>

                                <td id="required">
                                    <span id="required_val" class="row_val"> {% if row.required == 0 or not row.required %}
                                    No
                                    {% else %}
                                    Yes
                                    {% endif %}</span>
                                    <span id="required_edit" class="row_edit">
                                        <select name="field_required" onblur="editor_out(this);" onchange="editor(this, 1);">
                                            <option value="1" {% if row.required == 1 %} selected {% endif %}>Yes</option>
                                            <option value="0" {% if row.required == 0 or not row.required %} selected {% endif %}>No</option>
                                        </select>
                                    </span>
                                </td>

                                <td id="is_fixed_len">
                                    <span id="is_fixed_len_val" class="row_val">{% if row.is_fixed_len == 0 or not row.is_fixed_len %}
                                          No
                                    {% else %}
                                    Yes
                                    {% endif %}</span>
                                    <span id="is_fixed_len_edit" class="row_edit">
                                        <select name="field_is_fixed_len" onblur="editor_out(this);" onchange="editor(this, 1);">
                                            <option value="1" {% if row.is_fixed_len == 1 %} selected {% endif %}>Yes</option>
                                            <option value="0" {% if row.is_fixed_len == 0 or not row.is_fixed_len %} selected {% endif %}>No</option>
                                        </select>
                                    </span>
                                </td>

                                <td id="min_value">
                                    <span id="min_value_val" class="row_val">{{row.min_value|default_if_none:""}}</span>
                                    <span id="min_value_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_min_value" size="5" value="{{row.min_value|default_if_none:''}}">
                                    </span>
                                </td>

                                <td id="max_value">
                                    <span id="max_value_val" class="row_val">{{row.max_value|default_if_none:""}}</span>
                                    <span id="max_value_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_max_value" size="5" value="{{row.max_value|default_if_none:''}}">
                                    </span>
                                </td>

                                <td id="decimals">
                                    <span id="decimals_val" class="row_val">{{row.decimals|default_if_none:"0"}}</span>
                                    <span id="decimals_edit" class="row_edit">
                                        <input  onblur="editor_out(this);" onchange="editor(this);" name="field_decimals" size="5" value="{{row.decimals|default_if_none:'0'}}">
                                    </span>
                                </td>

                                <td id="format">
                                    <span id="format_val" class="row_val">{{row.format|default_if_none:''}}</span>
                                    <span id="format_edit" class="row_edit">
                                        <input onblur="editor_out(this);" onchange="editor(this);" name="field_format" value="{{row.format|default_if_none:''}}">
                                    </span>
                                </td>

                                <td id="all_null">
                                    <span id="all_null_val" class="row_val">{% if row.all_null == 0 or not row.all_null %}
                                    No
                                    {% else %}
                                    Yes
                                    {% endif %}</span>
                                    <span id="all_null_edit" class="row_edit">
                                        <select name="field_all_null" onblur="editor_out(this);" onchange="editor(this, 1);">
                                            <option value="1" {% if row.all_null == 1 %} selected {% endif %}>Yes</option>
                                            <option value="0" {% if row.all_null == 0 or not row.all_null %} selected {% endif %}>No</option>
                                        </select>
                                    </span>
                                </td>
                            </tr>
                        {% endfor   %}
                    </tbody>
                </table>
                </form>
        </div>
            <div id="suggestions" style="position:fixed"></div>
        {% elif definitions %}
            <div class="row justify-content-center">
                <div class="col-6" style="text-align:right">Choose Definition to Create/Edit Structure</div>
                <div class="col-6">
                    <select name="name" onchange="action(this);">
                        <option value="">--- Select ---</option>
                        <option value=" ">--- Create New Definition ---</option>
                        {% for row in definitions.definition_details %}
                            <option value="{{row.name}}">{{row.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% else  %}
            <div class="row justify-content-center">
                You don't have any definition. Please start with creating one <a href="/create-definition/"> here.</a>
            </div>
        {% endif %}
        </div>
    </div>

    <script>

        $(document).ready(function() {

            // Activate an inline edit on click of a table cell
            $('#rfstable').on( 'click', 'tbody td:not(:first-child)', function (e) {

                if(this.children[0].style.display == "none" || !businessRuleCheck(this))
                    return false;
                console.log(this);
                $(".row_edit").hide();
                $(".row_val").show();
                $(this.children[0]).hide();
                $(this.children[1]).show();
                this.children[1].children[0].focus();
            } );

            $("input").on("change",function(){
                console.log("changed");
            });

            $(".row_edit").hide();

            $('#rfstable').DataTable( {
                dom: "Bfrtip",
                order: [[ 1, 'asc' ]],
                columns: [
                    {
                        data: null,
                        defaultContent: '',
                        className: 'select-checkbox',
                        orderable: false
                    },
                    { data: "record_id" },
                    { data: "order" },
                    { data: "col_name" },
                    { data: "col_data_type" },
                    { data: "max_len" },
                    { data: "is_pk", editField: "is_pk" },
                    { data: "required" },
                    { data: "is_fixed_len" },
                    { data: "min_value"},
                    { data: "max_value"},
                    { data: "decimals"},
                    { data: "format"},
                    { data: "all_null"}
                ],
                select: {
                    style:    'os',
                    selector: 'td:first-child'
                }
            } );

            //$(body).on("click", "", editor_mouse);

        } );

        function editor_out(ob){
            console.log("Out");
            $(ob.parentElement).hide();
            $(".row_edit").hide();
            $(".row_val").show();
        }

        function editor(ob, yn = 0){
            console.log("Changed");
            $(ob.parentElement).hide();
            $(".row_edit").hide();
            $(".row_val").show();
            $.ajax({
                url : "/update-structure/",
                type: "POST",
                ob:ob,
                yn:yn,
                data : {
                    'record_id':ob.parentElement.parentElement.parentElement.cells[1].innerHTML,
                    'field':ob.name.replace("field_",""),
                    'val':$(ob).val(),
                    'name': '{{name.0}}',
                    'csrfmiddlewaretoken':'{{csrf_token }}'
                    },
                success: function(data, textStatus, jqXHR)
                {
                    if(data.success){
                        if(this.yn == 1){
                            var yesno = '';
                            if(this.ob.value == '1') yesno = 'Yes';
                            else yesno = 'No';
                            this.ob.parentElement.parentElement.children[0].innerHTML = yesno;
                         }
                         else
                            this.ob.parentElement.parentElement.children[0].innerHTML = this.ob.value;
                    }
                    else{
                        alert("There was error in updating record." + data.message);
                        this.ob.value = this.ob.parentElement.parentElement.children[0].innerHTML;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert("There was error in updating record.");
                }
            });
        }

        function editor_mouse(ob){
            console.log("Mouse out");
            //$(ob.parentElement).hide();
            $(".row_edit").hide();
            $(".row_val").show();
        }

        function businessRuleCheck(ob){
            console.log(ob);
            srcField = ob.children[1].children[0].name;
            passed = true;
            if (srcField == 'field_decimals'){
                $(ob.parentElement.cells).each(function(){
                    if(this.id == 'col_data_type'){
                        if( $(this.children[0]).text()  != 'DECIMAL' ){
                            passed = false;
                            return passed;
                        }
                    }

                });
            }

            if (srcField == 'field_is_fixed_len' && '{{ffdata.file_type}}' == 'FIXED'){
                passed = false;
                return passed;
            }

            if (srcField == 'field_order'){
                //passed = false;
                //return passed;
            }

            return passed;
        }

        function col_suggestions(){

            if($("#col_name_suggestion").val().length > 1){

                $.get( "/col-suggestions/?col_name="+$("#col_name_suggestion").val(), function( data ) {
                      if(data.length > 0){
                        $("#suggestions").html(data);
                        $("#suggestions").show();
                        $("#suggestions").css("top",document.getElementById('col_name_suggestion').getBoundingClientRect().top+$("#col_name_suggestion").height());
                        $("#suggestions").css("width",window.innerWidth-$("#col_name_suggestion").width()-20);
                        $("#suggestions").css("background-color","white");
                        $("#suggestions").css("min-height","50px");
                        $("#suggestions").css("border","2px solid black");
                        $("#suggestions_table").DataTable({"bPaginate": false,
                                                            "bLengthChange": false,
                                                            "bFilter": false,
                                                            "bInfo": false,
                                                            "bAutoWidth": false});
                      }
                      else{
                        $("#suggestions").html(data);
                        $("#suggestions").hide();
                      }
                }).fail(function() {

                });
            }
            else {
                $("#suggestions").html("");
                $("#suggestions").hide();
            }
        }

        function addRows(){
            console.log("in addrows");
            var keyarr = [];
            $("#keys").val("");
            for(var i=0; i<$('input[name="selected"]').length; i++){
                el = $('input[name="selected"]')[i];
                //console.log($(el).is(":checked"));
                //console.log($(el).val());
                if( $(el).is(":checked") ){
                    keyarr.push("'"+$(el).val()+"'");
                }
            }

            $("#keys").val(keyarr.join(","));

            console.log($("#keys").val());
            document.getElementById("addrow").submit();// Form submission
        }

        function action(ob){
            if(ob.value == ' ') window.location.href = '/create-definition/';
            else if(ob.value.length) window.location.href = './?name='+ob.value;
        }

    </script>

</div>

{% endblock %}